openai
dotenv
streamlit
transformers
anthropic
langchain
langchain-openai
langchain-community
asyncio
python-json-logger
ratelimit
requests
tenacity
pytest
pypdf
langchain-text-splitters 
langgraph
langchain-core
beautifulsoup4
unstructured
python-docx
langchain_experimental
fastembed
sentence-transformers
qdrant-client
chromadb
meilisearch
faiss-cpu
pydub 
noisereduce 
scipy
librosa
noisereduce
librosa
elevenlabs
pyannote.audio
torchaudio
matplotlib
webrtcvad